  <div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 15%">
        <h2>Editors</h2>
        <p> Many thanks. You could help with your comments or suggestions on choosing one of them </p>
      </div>
	    <div class="two column"><a class="button button-primary" href="/editor/daft"><em>Draft</em> Editor</a></div>
	    <div class="two column"><a class="button button-primary" href="/editor/medium"><em>Medium</em> Editor</a></div>
     </div>
  </div>